In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
df = pd.read_csv('homeprices.csv')
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [7]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())
df.head(5)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [8]:
x = df.drop('price', axis= 1)
x

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.0   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [9]:
reg = linear_model.LinearRegression()
reg.fit(x, df.price)

LinearRegression()

In [10]:
reg.predict([[3000,4,3]])

C:\Users\seher\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([641370.69427767])

In [15]:
# here we have three independent variables so we got three coeffiecient for each
m = reg.coef_
m

array([  112.06244194, 23388.88007794, -3231.71790863])

In [16]:
b = reg.intercept_
b

221323.00186540425

In [17]:
3000*m[0]+4*m[1]+3*m[2]+b

641370.6942776658